body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color:#FFFFFF;
  font-weight: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
}
h1,
.h1 {
  font-size: 42px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

small {
  font-size:12px;
  color:#029e82;
}

p{
  color:#767676;
}

button,
.btn {
  display: inline-block;
  padding: 0 16px;
  background-color: #141414;
  text-decoration: none;
  color: 	#03E3BA;
  border: 1px solid #03E3BA;
  line-height: 2;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 30px;
}

button:hover,
.btn:hover {
  background-color:#03E3BA;
  color: #141414;
}

code {
  background-color: #999898;
  color:#201F1F;
  font-weight: 400;
  padding: 0 8px;
  font-size: 0.8em;
  font-family: 'Courier New', monospace;
}

.text {
  color:#767676;
}

form{
  line-height:40px;
  padding:30px 0px;
}

textarea {
  display:block;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  background-color: #c7c7c7;
  color:#029e82;
}

textarea:hover {
  background-color: #FFFFFF;
  border: 3px solid rgb(116, 69, 150);
}

/* ---> UTILITIES */

/* Colors */
p.name {
  color: #029e82;
}

.bg-color-green {
  background-color: #03E3BA;
}
.bg-color-darkgreen {
  background-color: #029e82;
}

.bg-color-dark-darkgrey {
  background-color: #141414;
}

.bg-color-darkgrey{
  background: #201F1F;
}

.bg-color-grey{
  background-color:#767676;
}

.bg-color-lightgrey{
  background-color:#999898;
}

.bg-color-white{
  background-color:	#FFFFFF;
}


/* Own styles, these are only for styling THIS page */

.pattern-content {
  padding: 50px;
  background-color:#141414;
}

.pattern-section {
  margin-bottom: 100px;
  font-family:'IBM Plex Sans', sans-serif;
}

.pattern-color .bg-color {
  margin-right: 10px;
  border-radius: 4px;
}

.tooltip {
  display:none;
  width: 850px;
  height: 100px;
  color: black;
  border: 1px solid #767676;
  background: #dadada;
  opacity: 85%;
}

.color-name:hover .tooltip {
  display:block;
}

.bg-color-white .color-name {
  border-bottom: none;
}

.color-name {
  width: 200px;
  height: 40px;
  border-bottom: 0.5px solid #999898;
  background-color: #FFFFFF;
  display: block;
  color: #767676;
  text-align: center;
  padding: 20px 20px;
}

.pattern-title {
  border-bottom: 2px solid #201F1F;
  color:#999898;
}

main {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.header {
width: 20%;
position: fixed;
align-items: stretch;
top: 0; left: 0;
}

.pattern-section--colors {
  width: 80%;
  padding-left: 20%;
}

.pattern-section--font {
  padding-top:50px;
  padding-left:20%;
  width: 80%;
}

.pattern-sectio--boton {
  padding-top:50px;
  padding-left:20%;
  width: 80%;
}

.pattern-section--form{
  padding-top:50px;
  padding-left:20%;
  width: 80%;
}

.footer { 
  padding-top:50px;
  align-self: flex-end;
  text-align: right ;
  font: 12px 'IBM Plex Sans', sans-serif;
  color:#029e82;
  padding-left:20%;
  width: 80%;
}