body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  color: #000063;
  background-color:  #ef9a9a;
  font-weight: 300;
 
}
.title-of-document{
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
}
h1,
.h1 {
  font-size: 42px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

button,
.btn {
  display: inline-block;
  padding: 0 16px;
  background-color: #000063;
  text-decoration: none;
  color: white;
  border: none;
  line-height: 2;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 30px;
}

button:hover,
.btn:hover {
  background-color: #f50057;
}

.btn--secondary {
  background-color: #dadada;
  color: #f50057;
}
.btn--secondary:hover {
  background-color: white;
  
}

code {
  background-color: #e1e1e1;
  font-weight: 400;
  padding: 0 8px;
  font-size: 0.8em;
  font-family: 'Courier New', monospace;
}
/* ---> UTILITIES */

/* Colors */
.color-coral {
  color: #ef9a9a;
}
.bg-color-Deeppurple {
  background-color: #000063;
}

.color-pink {
  color: #f50057;
}

.bg-color-purpulebule {
  background-color: #6745c2;
}

.bg-color-pink {
  color: #f50057;
}

.bg-color-Deeppurple {
  background: #000063;
}

.bg-color-pink {
  background-color:#f50057;
}

.bg-color-white{
  background-color:white;
}

/* Own styles, these are only for styling THIS page */

.pattern-content {
  max-width: 900px;
  padding: 50px;
  margin: 20px auto;
  background-color: #ef9a9a;
  border-radius: 8px;
}

.pattern-section {
  margin-bottom: 100px;
  color:#000063;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.pattern-color {
  display: inline-block;
  width: 300px;
  height: 100px;
  position: relative;
  margin-right: 10px;
  border-radius: 4px;
}

.pattern-color:before {
  content: attr(data-color);
  background-color:#000063;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
}

.pattern-title {
  border-bottom: 2px solid #000063;
  opacity: 0.5;
}

[data-header]:before {
  content: attr(data-header) ": ";
}